<form action = "/comment/<%=commentID%>?_method=DELETE" method='post'>
    Execute:<br />
  <p><%= getComment[0].id %></p>
  <input type='hidden' name='commentID' id='commentID' value= <%= getComment[0].id %> />
  <input type='submit' value='Submit' />
</form>
