<form action = "/work/<%=workID%>?_method=PUT" method='post'>
    Comment:<br />
  <textarea name='comment' id='comment'></textarea><br />
  <p><%= renderComment[0].id %></p>
  <input type='hidden' name='commentID' id='commentID' value= <%= renderComment[0].id %> />
  <input type='hidden' name='test' id='test' value= "idgohere" />
  <input type='submit' value='Submit' />
</form>
