<form action = "/work/<%=workID%>?_method=PUT" method='post'>
    Comment:<br />
  <textarea name='comment' id='comment'></textarea><br />
  <input type='hidden' name='userID' id='userID' value= "idgohere" />
  <input type='submit' value='Submit' />
</form>
