<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ./partials/head %>
  </head>
<body>
<h1>Group Profile</h1>
<h1><%= groupMembers[0].name %></h1>

<%- include ./partials/footer %>
</body>
</html>
