<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ./partials/head %>
  </head>
<body>

  <h1 id="hometitle" >Group-Crit</h1>

  <div id="HomeLinks" >

    <li>
      <% if (!user) {%>
      <a href="/users/new">Signup</a>
      <% } %>
    </li>

    <li>
      <% if (!user) {%>
      <a href="/users/login">Login</a>
      <% } %>
    </li>

    <li>
      <% if (user) {%>
      <a href= <%= "/users/" + user.id %> >workspace</a>
      <% } %>
    </li>

    <li>
      <% if (user) {%>
      <form method="post" action="users/logout?_method=DELETE">
            <button id="logout"><%= user.name %>: logout</button>
      </form>

      <% } %>
    </li>

  </div>

  <%- include ./partials/footer %>
 </body>
</html>
