body {
  text-align: center;
  font-family: 'Arimo', sans-serif;
}

h1 {
  text-align: center;
  font-size: 130px;
  margin-bottom: -20px;
}

#bug{
  margin-top: 105px;
  margin-bottom: -155px;
  margin-left: 400px;
}

#groupname {
  font-size: 55px;
  text-decoration: underline;
}

#memname {
  font-size: 35px;
}

#checkgroup {
  text-decoration: none;
  font-size: 15px;
}
#ProfileHeading {
  justify-content: center;
  width: 150px;
  padding: 1px;

}

#UserName {
  margin-top: -5px;
  text-align: center;
}
#ProfilePicture img {
    text-align: center;
    width: 150px;
    padding: 1px;
}

#ImageContainer img {
    text-align: center;
    background-size: cover;
    background-position: center;
    max-width: 800px;
    border: solid black 1px;
    padding: 1px;
}

#MainContainer {
  text-align: center;
}

#WorkRender img {
    max-width: 250px;
    border: solid black 1px;
    padding: 1px;
}

#HomeLinks {
  margin-top: -20px;
  text-align: center;
}

#logout {
  text-decoration: none;
  font-size: 25px;
  display: inline;
}

li {
  list-style: none;
  display: inline;

}

li a {
  text-decoration: none;
  color: black;
  font-size: 40px;
  padding: 50px;
}
