<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head %>
  </head>
<body>
<h1>Sign Up</h1>
<form action="/users" method="post">
  <div>
    <label for="email">email</label>
    <input type="text" name="email">
  </div>

  <div>
    <label for="password">password</label>
    <input type="text" name="password">
  </div>

  <div>
    <label for="name">your name</label>
    <input type="text" name="name">
  </div>

  <div>
    <label for="groupName">group name</label>
    <input type="text" name="groupName">
  </div>

  <input type="submit" value="SuBMit">
</form>
<%- include ../partials/footer %>
</body>
</html>
