<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>sign up!</title>
</head>
<body>
<h1>Sign Up page!</h1>
<form action="/users" method="post">
  <div>
    <label for="email">email</label>
    <input type="text" name="email">
  </div>

  <div>
    <label for="password">password</label>
    <input type="text" name="password">
  </div>

  <div>
    <label for="name">your name</label>
    <input type="text" name="name">
  </div>
  
  <div>
    <label for="groupName">group name</label>
    <input type="text" name="groupName">
  </div>

  <input type="submit" value="SuBMit">
</form>
</body>
</html>
