<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= user.name %></title>
</head>
<body>
  <div>
    <a href="/images">images</a>
  </div>

  <% if (user) {%>
    <h3>Welcome <%= user.name %></h3>
    <h3><a href="#">Check out other <%= user.groupname %> recent works</a></h3>
    <a href="/">home</a>
  <% } %>
</body>
</html>
